<% include header.ejs %>
<div class="container">
    <div class="ui form segment" style="width: 400px;margin: 60px auto;">
        <form method="post">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" placeholder="用户名" name="name">
            </div>
            <br>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="密码" name="password">
            </div>
            <br>
            <input type="submit" value="登录" class="ui button fluid">
        </form>
    </div>
</div>


<% include footer.ejs %>

